h1 Simple calculator
= text_field_tag :exe, nil, :id => 'exe'
= button_to_function '1', "$('#exe').val($('#exe').val() + '1')"
= button_to_function '2', "$('#exe').val($('#exe').val() + '2')"
= button_to_function '3', "$('#exe').val($('#exe').val() + '3')"
= button_to_function '4', "$('#exe').val($('#exe').val() + '4')"
= button_to_function '5', "$('#exe').val($('#exe').val() + '5')"
= button_to_function '6', "$('#exe').val($('#exe').val() + '6')"
= button_to_function '7', "$('#exe').val($('#exe').val() + '7')"
= button_to_function '8', "$('#exe').val($('#exe').val() + '8')"
= button_to_function '9', "$('#exe').val($('#exe').val() + '9')"
= button_to_function '0', "$('#exe').val($('#exe').val() + '0')"
= button_tag '.'
= button_tag '%'
= button_tag '/'
= button_tag '*'
= button_tag '+'
= button_tag '-'
= button_tag '('
= button_tag ')'
= button_tag '^2'
= button_tag '\/'
= button_tag '='
= button_tag '<-'
